<!DOCTYPE html>
<html lang="en">
    <%- include('../../layout/head') %>

    <body>
        <%- include('../../layout/header') %>
        <main>
            <%- include('detail', {book})%>

        </main>
        <%- include('../../layout/footer')%>
    </body>

</html>